<script>
  const scriptEl = document.createElement("script");
  scriptEl.setAttribute("fetchpriority", "high");
  scriptEl.setAttribute("charset", "UTF-8");

  const scriptURL = new URL(
    "https://trinitymedia.ai/player/trinity/2900019860/?"
  );
  scriptURL.searchParams.set("pageURL", window.location.href);

  scriptEl.src = scriptURL.toString();

  document.currentScript.parentNode.insertBefore(
    scriptEl,
    document.currentScript
  );
</script>
<div
  class="trinity-tts-pb"
  dir="ltr"
  style="
    font: 12px / 18px Verdana, Arial;
    height: 80px;
    line-height: 80px;
    text-align: left;
    margin: 0 0 0 82px;
  "
>
  <strong style="font-weight: 400"
    >Getting your
    <a
      href="//trinityaudio.ai"
      style="color: #4b4a4a; text-decoration: none; font-weight: 700"
      >Trinity Audio</a
    >
    player ready...</strong
  >
</div>
